<div local-class="page-selector">
  <button onclick={{action previousClicked}} local-class="button">
    Previous
  </button>
  <button onclick={{action nextClicked}} local-class="button">
    Next
  </button>
</div>
